<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>教师列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="teaData" lay-filter="teaData"></table>

<script type="text/html" id="toolBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getAddData"><i class="layui-icon">&#xe654</i>添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="actBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<form class="layui-form" action="" method="POST" id="teaInfo" lay-filter="teaInfo" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" lay-verify="title" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工号</label>
        <div class="layui-input-block">
            <input type="text" id="tno" name="tno" lay-verify="title" disabled class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="teacher_name" lay-verify="required" autoComplete="off" placeholder="请输入姓名"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="title" autoComplete="off" placeholder="请输入密码"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="gender" value="男" title="男" checked="">
            <input type="radio" name="gender" value="女" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">email</label>
        <div class="layui-input-block">
            <input type="text" name="email" lay-verify="required\email" autoComplete="off" placeholder="请输入email"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input type="text" name="telephone" lay-verify="required\phone" autoComplete="off" placeholder="请输入电话"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" lay-verify="required" autoComplete="off" placeholder="请输入地址"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <input type="hidden" name="portrait_path" class="image">
        <label class="layui-form-label ">照片: </label>
        <div class="layui-upload">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="image" style="width: 150px;height: 150px; border: solid 1px" alt="头像">
                <p id="imgText" style="margin-left: 13.5vh ;width: 150px"></p>
                <button type="button" class="layui-btn" id="imgUp" style="margin-left: 13.5vh;width: 150px">上传图片
                </button>
            </div>
        </div>
    </div>
</form>
<script src="/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
    layui.use(['table', 'jquery', 'form', 'upload'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var upload = layui.upload;
        table.render({
            elem: '#teaData'
            , url: '/teacher/teacherListData'
            , toolbar: '#toolBar' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '教师列表'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', fixed: 'left', unresize: true, sort: true}
                    , {field: 'tno', title: '工号', edit: 'text'}
                    , {field: 'teacher_name', title: '姓名', edit: 'text'}
                    , {
                    field: 'eamil', title: 'email', edit: 'text', templet: function (res) {
                        return '<em>' + res.email + '</em>'
                    }
                }
                    , {field: 'gender', title: '性别', edit: 'text'}
                    , {field: 'telephone', title: '电话', edit: 'text'}
                    , {field: 'address', title: '地址', edit: 'text'}
                    , {field: 'portrait_path', title: '头像地址', edit: 'text'}
                    , {fixed: 'right', title: '操作', toolbar: '#actBar', width: 150}
                ]
            ]
            , page: true
        });
        //头工具栏事件
        table.on('toolbar(teaData)', function (obj) {
            switch (obj.event) {
                case 'getAddData':
                    $('#teaInfo')[0].reset();
                    $('#tno').attr('disabled',false);
                    $('#image').attr('src',"images/default.jpg")
                    layer.open({
                        type: 1,
                        area: ['50%', '50%'],
                        btn: ['确认', '取消'],
                        yes: function (index) {
                            var teaData = form.val('teaInfo')
                            $.ajax({
                                    type: "POST",
                                    data: {
                                        'id': teaData.id,
                                        'tno': teaData.tno,
                                        'teacher_name': teaData.teacher_name,
                                        'password': teaData.password,
                                        'gender': teaData.gender,
                                        'email': teaData.email,
                                        'telephone': teaData.telephone,
                                        'address': teaData.address,
                                        'portrait_path': $('#image').attr('src'),
                                    },
                                    url: '/teacher/insert',
                                    error: function (XMLHttpRequest) {
                                        alert("添加失败了!");
                                    },
                                    success: function (resData) {
                                        if (resData.status === 1) {
                                            alert("添加成功！");
                                            layer.close(index);
                                            location.reload();
                                        } else {
                                            alert("添加失败了！");
                                            alert(resData.msg);
                                        }
                                    }
                                }
                            )
                        },
                        content: $('#teaInfo')
                    })
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(teaData)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: "POST",
                        data: {
                            'id': data.id
                        },
                        url: '/teacher/delete',
                        error: function (XMLHttpRequest) {
                            alert("删除失败了!");
                            alert(XMLHttpRequest.status);
                        },
                        success: function (resData) {
                            if (resData.status === 1) {
                                obj.del();
                                alert("删除成功");
                            } else {
                                alert("删除失败了！");
                            }
                        }
                    })
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                $('#image').attr('src', "" + data.portrait_path)
                form.val('teaInfo', {
                    'id': data.id,
                    'tno': data.tno,
                    'teacher_name': data.teacher_name,
                    'gender': data.gender,
                    'email': data.email,
                    'telephone': data.telephone,
                    'address': data.address,
                })
                layer.open({
                    type: 1,
                    area: ['50%', '50%'],
                    btn: ['确认', '取消'],
                    yes: function (index) {
                        var teaData = form.val('teaInfo')
                        $.ajax({
                                type: "POST",
                                data: {
                                    'id': teaData.id,
                                    'tno': teaData.tno,
                                    'teacher_name': teaData.teacher_name,
                                    'password': teaData.password,
                                    'gender': teaData.gender,
                                    'email': teaData.email,
                                    'telephone': teaData.telephone,
                                    'address': teaData.address,
                                    'portrait_path': $('#image').attr('src'),
                                },
                                url: '/teacher/upload',
                                error: function (XMLHttpRequest) {
                                    alert("更新失败了!");
                                    alert(XMLHttpRequest.status);
                                },
                                success: function (resData) {
                                    if (resData.status === 1) {
                                        alert("更新成功！");
                                        layer.close(index);
                                        location.reload();
                                    } else {
                                        alert("更新失败了！");
                                    }
                                }
                            }
                        )
                    },
                    content: $('#teaInfo')
                })
            }
        });

        //上传头像
        var uploadInst = upload.render({
            elem: '#imgUp'
            , url: '/upload/'
            , accept: 'images'
            , size: 50000
            , before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#image').attr('src', result);
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                var upText = $('#imgText');
                upText.html('<span style="color: #4cae4c;">上传成功</span>');
                var fileupload = $("#image");
                fileupload.attr("src", res.data.src);
                console.log(fileupload.attr("src"));
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#imgText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
    });
</script>
</body>
</html>