<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.sms.mapper.StudentMapper">

    <!-- 验证登录信息是否正确 -->
    <select id="login" resultType="com.niit.sms.bean.Student">
        select * from tb_student where sno=#{sno} and password=#{password}
    </select>

    <!-- 根据教师id查询所有学生 -->
    <select id="selectAllByTeacher" resultType="com.niit.sms.vo.StudentVO">
        SELECT s.id,s.sno,s.student_name,s.`password`,s.gender,s.email,s.telephone,s.address,s.introduce,s.portrait_path,s.clazz_id,c.clazz_name
        FROM tb_student AS s
        INNER JOIN tb_clazz AS c
        ON s.clazz_id = c.id
        WHERE clazz_id = (
            SELECT tb_clazz.id AS clazz_id FROM tb_teacher
            INNER JOIN tb_clazz
            ON tb_teacher.id = tb_clazz.coordinator_id
            WHERE tb_teacher.id = #{id}
        )
    </select>

    <!--查询所有学生-->
    <select id="selectAll" resultType="com.niit.sms.vo.StudentVO">
        SELECT s.id,s.sno,s.student_name,s.`password`,s.gender,s.email,s.telephone,s.address,s.introduce,s.portrait_path,s.clazz_id,c.clazz_name
        FROM tb_student AS s
        INNER JOIN tb_clazz AS c
        ON s.clazz_id = c.id
    </select>
    
    <!--新增一名学生-->
    <insert id="addStudent" parameterType="com.niit.sms.bean.Student">
        insert into tb_student
        (sno,student_name,password,gender,email,telephone,address,introduce,portrait_path,clazz_id)
        values
        (#{sno},#{student_name},#{password},#{gender},#{email},#{telephone},#{address},#{introduce},#{portrait_path},#{clazz_id})
    </insert>

    <!--根据id删除学生-->
    <delete id="delStudentById" parameterType="java.lang.Integer">
        delete from tb_student where id=#{id}
    </delete>

    <!--根据id修改学生信息-->
    <update id="updateStudentById" parameterType="com.niit.sms.bean.Student">
        update tb_student
        <set>
            <if test="sno!=null and sno!=''">sno=#{sno},</if>
            <if test="student_name!=null and student_name!=''">student_name=#{student_name},</if>
            <if test="password!=null and password!=''">password=#{password},</if>
            <if test="gender!=null and gender!=''">gender=#{gender},</if>
            <if test="email!=null and email!=''">email=#{email},</if>
            <if test="telephone!=null and telephone!=''">telephone=#{telephone},</if>
            <if test="address!=null and address!=''">address=#{address},</if>
            <if test="introduce!=null and introduce!=''">introduce=#{introduce},</if>
            <if test="portrait_path!=null and portrait_path!=''">portrait_path=#{portrait_path},</if>
            <if test="clazz_id!=null and clazz_id!=''">clazz_id=#{clazz_id},</if>
        </set>
        where id=#{id}
    </update>

    <!--根据id查询学生信息-->
    <select id="selectById" resultType="student">
        select * from tb_student where id=#{id}
    </select>


</mapper>