<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.sms.mapper.StudentMapper">

    <!-- 验证登录信息是否正确 -->
    <select id="login" resultType="com.niit.sms.bean.Student">
        select * from tb_student where sno=#{sno} and password=#{password}
    </select>

    <!-- 查询所有学生 -->
    <select id="selectAll" resultType="student">
        select * from tb_student
    </select>

    <!--新增一名学生-->
    <insert id="addStudent" parameterType="com.niit.sms.bean.Student">
        insert into tb_student
        (sno,username,password,gender,email,telephone,address,introduce,portrait_path,clazz_id)
        values
        (#{sno},#{username},#{password},#{gender},#{email},#{telephone},#{address},#{introduce},#{portrait_path},#{clazz_id})
    </insert>

</mapper>