<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.sms.mapper.TeacherMapper">

    <!-- 验证登录信息是否正确 -->
    <select id="login" resultType="com.niit.sms.bean.Teacher">
        select * from tb_teacher where tno=#{tno} and password=#{password}
    </select>

</mapper>